*.pyc
.DS_Store
docs/_build
docs/.ipynb_checkpoints/
6843672087120107264_gaiaxp_0.jpg
6843672087120107264_gaiaxp_spec.dat
docs/6843672087120107264_gaiaxp_0.jpg
docs/6843672087120107264_gaiaxp_spec.dat
build/
dist/
calistar.egg-info/
.coverage*
coverage.xml
.pytest_cache/
htmlcov/
.tox/
docs/calib_*
docs/target_*
calib_*
target_*
